<%- include('../includes/layout.ejs') %>
</head>

<body>
	<%- include('../includes/sidebar.ejs') %>

	<h1><%= title %></h1>

	<form action="" method="post">
		<div class="form-group">
			<label for="title">Title: </label>
			<input type="text" id="title" class="form-control" placeholder="Name of book" name="title" value="<% if (editing) { %><%= book.title %><% } %>" required='true'>
		</div>

		<div class="form-group">
			<label for="author">Author: </label>
			<select type="select" id="author" class="form-control" placeholder="Select author" name="author" required='true'>
				<option value="" disabled selected>Select author</option>
				<% authors.sort(function(a, b) {
                    let textA = a.family_name.toUpperCase();
                    let textB = b.family_name.toUpperCase();
                    return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}); 
                %>
				<% for (let author of authors) { %>

				<!-- Handle GET form, where book.author is an object, and POST form, where it is a string -->

				<option value="<%= author._id %>" <% if (editing) { %><% if (author.name === book.author.name) { %> selected <% } %><% } %>><%= author.name %></option>
				<% } %>
			</select>
		</div>
		<div class="form-group">
			<label for="summary">Summary: </label>
			<textarea name="summary" id="summary" class="form-control" required='true' , placeholder='Summary'><% if (editing) { %><%= book.summary %><% } %></textarea>
		</div>

		<div class="form-group">
			<label for="isbn">ISBN: </label>
			<input type="text" name="isbn" id="isbn" class="form-control" placeholder='ISBN13' value="<% if (editing) { %><%= book.isbn %><% } %>" required='true'>
		</div>

		<div class="form-group">
			<label>Genre: </label>
			<div>
				<% genres.forEach(genre => { %>
				<div style='display: inline; padding-right:10px;'>
					<input type="checkbox" name="genre" id="genre._id" class="checkbox-input" value="<%= genre._id %>" <% if (editing) { %> <% book.genre.forEach(book_genre => { %> <% if (genre.name === book_genre.name) { %>  checked  <% } %><% }) %><% } %>>
					<label for="genre._id"><%= genre.name %></label>
				</div>
				<% }) %>
			</div>

		</div>

		<button class="btn btn-primary" type="submit">Submit</button>
	</form>

	<% if (typeof errors !== 'undefined') { %>
	<ul>
		<% errors.forEach(error => { %>
		<li><%= error.msg %></li>
		<% }) %>
	</ul>
	<% } %>

	<%- include('../includes/footer.ejs') %>