<%- include('../includes/layout.ejs') %>
</head>

<body>
	<%- include('../includes/sidebar.ejs') %>
	<h1><%= title %></h1>
	<ul>
		<% if (bookinstance_list.length > 0) { %>
		<% bookinstance_list.forEach(instance => { %>
		<li>
			<!-- We use instance.url to provide the link to the detail record for each book (we've implemented this route, but not the page yet). This is a virtual property of the Book model which uses the model instance's _id field to produce a unique URL path. -->
			<a href="<%= instance.url %> "><%= instance.book.title %> : <%= instance.imprint %> </a>
			<% if (instance.status === 'Available') { %>
			<span class="text-success"><%= instance.status %></span>
			<% } else if (instance.status === 'Maintenance') { %>
			<span class="text-danger"><%= instance.status %></span>
			<% } else { %>
			<span class="text-warning"><%= instance.status %></span>
			<% } %>
			<% if (instance.status !== 'Available') { %>
			<span>(Due: <%= instance.due_back_formatted %> )</span>
			<% } %>
		</li>
		<% }) %>
		<% } else { %>
		<li>There are no book copies in this library.</li>
		<% } %>
	</ul>

<%- include('../includes/footer.ejs') %>