<%- include('./includes/layout.ejs') %>
</head>

<body>
	<%- include('./includes/sidebar.ejs') %>

	<h1>Genre: <%= genre.name %></h1>
	<div style='margin-left:20px;margin-top:20px'>
		<h4>Books</h4>
		<dl>
			<% if (genre_books.length > 0) { %>
			<% genre_books.forEach(book => { %>
			
                <dt><a href="<%= book.url %> "><%= book.title %></a></dt>
                <dd><%= book.summary %> </dd>

			<% }) %>

			<% } else { %>
			
				<p>This genre has no books.</p>
			
			<% } %>
		</dl>
		
	</div>

	</div>
	<!--From sidebar.ejs, class="col-sm-10"  -->
	</div>
	<!--From sidebar.ejs, class="row"  -->
	</div>
	<!--From sidebar.ejs, class="container-fluid"  -->
</body>

</html>