<%- include('../includes/layout.ejs') %>
</head>

<body>
	<%- include('../includes/sidebar.ejs') %>

	<h1><%= title %></h1>

	<form action="" method="post">
		<div class="form-group">
			<label for="first_name">First Name: </label>
			<input type="text" id="first_name" class="form-control" placeholder="First Name (Mohibullah)" name="first_name" value="<% typeof author === 'undefined' ? '' : author.first_name %>" required='true'>

			<label for="family_name">Family Name: </label>
			<input type="text" id="family_name" class="form-control" placeholder="Family Name (Surname)" name="family_name" value="<% typeof author === 'undefined' ? '' : author.family_name %>" required='true'>
		</div>

        <div class="form-group">
            <label for="date_of_birth">Date of birth: </label>
			<input type="date" id="date_of_birth" class="form-control"  name="date_of_birth" placeholder='dd/mm/yyyy' value="<% typeof author === 'undefined' ? '' : author.date_of_birth %>">

            <label for="date_of_death">Date of death: </label>
			<input type="date" id="date_of_death" class="form-control"  name="date_of_death" placeholder='dd/mm/yyyy' value="<% typeof author === 'undefined' ? '' : author.date_of_death %>">
        </div>

		<button class="btn btn-primary" type="submit">Submit</button>
	</form>

	<% if (typeof errors !== 'undefined') { %>
	<ul>
		<% errors.forEach(error => { %>
		<li><%= error.msg %></li>
		<% }) %>
	</ul>
	<% } %>

<%- include('../includes/footer.ejs') %>