<%- include('../includes/layout.ejs') %>
</head>

<body>
	<%- include('../includes/sidebar.ejs') %>

	<h1>Author: <%= author.name %></h1>
	<p>(<%= author.lifespan %>)</p>

	<div style='margin-left:20px;margin-top:20px'>

		<h4>Books:</h4>
		<dl>
			<% if (author_books.length > 0) { %>
			<% author_books.forEach(book => { %>
			<dt>
				<a href="<%= book.url %>"><%= book.title %></a>
			</dt>
			<dd><%= book.summary %> </dd>
			<% }) %>

			<% } else { %>
			<p>This author has no books.</p>
			<% } %>
		</dl>
	</div>

	<hr>
	<p><a href="<%= author.url+'/delete' %>">Delete author</a></p>

<%- include('../includes/footer.ejs') %>